{% extends 'base/master.html.twig' %}
{% set page_title = 'Redirect Notice' %}

{% block body %}
    <div class="bg-white w-full">
        <div class="mx-auto container px-10 py-8 text-center">
            <h1 class="text-2xl font-bold font-opensans leading-8 tracking-tight text-gray-800 sm:text-3xl sm:leading-9 py-2">
                Redirect Notice
            </h1>
            <div class="text-center py-2">
                <img src="{{ asset('files/redirect.jpg') }}" class="h-40 w-40 rounded-full inline"
                     alt="Heather O'Rourke at Disneyland"/>
            </div>
            <h5 class="text-lg font-semibold font-opensans leading-8 tracking-tight text-gray-800">Directing to: <span
                        class="text-purple-600">{{ url }}</span></h5>
        </div>
    </div>
    <div class="bg-gray-50 w-full">
    <div class="mx-auto container px-10 py-2 text-center">
    <div class="py-3">
        <p class="py-2">
            You are being redirected away from the <a href="{{ path('index') }}"
                                                  class="font-semibold text-purple-600 hover:text-purple-500">Heather
                O'Rourke Fan Site</a>.
        </p>
        <p class="py-2">The redirect will commence in five seconds, or alternatively you can click the button below.</p>
        <div class="rounded-md shadow my-1">
            <a href="https://{{ url }}" target="_blank"
               data-tippy-content="Visit {{ url }} now"
               class="w-full flex items-center text-sm text-center md:text-left justify-center px-4 py-1 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-700 hover:bg-purple-600 focus:outline-none focus:border-purple-600 focus:shadow-outline-purple transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                <svg viewBox="0 0 20 20" fill="currentColor" class="external-link w-6 h-6 inline">
                    <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path>
                    <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
                </svg>
                Go to Website
            </a>
        </div>
    </div>
{% endblock %}